<h1><%= Settings.app.name %></h1>

<p><%= t(".greeting", name: @user.name) %></p>

<p><%= t(".reset_message") %></p>

<%= link_to t(".reset_password"), edit_password_reset_url(id: @user.reset_token,
                                                          email: @user.email,
                                                          locale: I18n.locale),
                                  class: "btn btn-primary" %>

<p><%= t(".link_expires", hours: Settings.password_reset.expires_in) %></p>

<p><%= t(".ignore_message") %></p>
