<h1><%= Settings.app.name %></h1>

<p><%= t(".greeting", name: @user.name) %></p>

<p><%= t(".success_message") %></p>

<p><%= t(".sign_in_again") %> <%= link_to t(".click_here"), logout_and_login_url(locale: I18n.locale), class: "btn btn-primary" %></p>

<p><%= t(".security_notice") %></p>
