<%= form_with(model: @micropost, local: true) do |form| %>
  <%= render "shared/error_messages", object: form.object %>  
  <div class="field">
    <%= form.text_area :content, placeholder: t("microposts.form.content_placeholder"), class: "form-control", id: "micropost_content" %>
  </div>
  <div class="field">
    <%= form.file_field :image, accept: Settings.micropost.allowed_mime_types_string, class: "form-control" %>
  </div>
  <%= form.submit t("microposts.form.post"), class: "btn btn-primary" %>
  <span class="text-muted">
    <span id="micropost_countdown">
    <%= t("microposts.form.characters_remaining") %>
    </span>
  </span>
<% end %>
