<% provide(:title, t(".title")) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <% if logged_in? %>
        <%= render "shared/user_info" %>
      <% end %>
    </section>
    <section class="micropost_form">
      <% if logged_in? %>
        <%= render "shared/micropost_form" %>
      <% end %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3><%= t(".title") %></h3>
    <% if @microposts.any? %>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= raw pagy_bootstrap_nav(@pagy) %>
    <% else %>
      <p><%= t(".no_microposts") %></p>
    <% end %>
  </div>
</div>
