<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
  <%= link_to t("site.name"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("navigation.home"), root_path %></li>
        <li><%= link_to t("navigation.microposts"), microposts_path %></li>
        <li><%= link_to t("navigation.help"), help_path %></li>
        <li><%= link_to t("navigation.signup"), signup_path %></li>
        <li><%= link_to t("navigation.login"), "#", class: "disabled" %></li>
        <li><%= link_to_locale(:en) %></li>
        <li><%= link_to_locale(:vi) %></li>
      </ul>
    </nav>
  </div>
</header>
